mise.local.toml

/.gradle
/.kotlin
/local.properties
/.idea
/build
/app/build
/publicsuffixlist/build
/plugins/publicsuffixlist/build
/plugins/publicsuffixlist/.gradle
/plugins/publicsuffixlist/.kotlin
/*.apk
/*.sigstore.json

/gradle/wrapper/gradle-wrapper.jar
gradlew*

/app/release.keystore
